<div id="wrapper">
	<ng-include src="'view/navheader.html'"></ng-include>
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">
	                    Alert Logs
	                </h1>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-6">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h3 class="panel-title"><i class="fa fa-fw fa-bar-chart-o"></i> Module Readings </h3>
	                    </div>

	                    <div class="panel-body">
							<select class="form-control" 
									ng-model="currentModule" 
							        ng-options="module as module.label for module in modules"
							        ng-click="changeModule(currentModule)">
      							<option value="">---Please Select A Module---</option> <!-- not selected / blank option -->
							</select>
	                        <div class="table-responsive">
	                            <table class="table table-bordered table-hover table-striped">
	                                <thead>
	                                    <tr>
	                                        <th class="col-md-4">Time</th>
	                                        <th class="col-md-1"><center>Value</th>
	                                        <th class="col-md-1"><center>Triggered</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	<tr ng-repeat="log in currentModuleLogs">
	                                		<td>{{millisecondsToDate(log.timestamp)}}</td>
	                                		<td><center>{{log.value}}</td>
	                                		<td><center><i ng-if="log.triggered" class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i></td>
	                                	</tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
				<div class="col-lg-6">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h3 class="panel-title"><i class="fa fa-fw fa-bar-chart-o"></i> Module Readings </h3>
	                    </div>

	                    <div id="line-chart" style="height: 250px;"></div>

	                </div>
	            </div>
	        </div>
			
	    </div>
	    <!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->
</div>