<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="simple-navbar.css" rel="stylesheet" />
<link href="font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
                <li class="active">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
                    <!--<ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#">Dashboard Subitem 1</a></li>
                        <li><a href="#">Dashboard Subitem 2</a></li>
                    </ul>-->
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-book fa-stack-1x "></i></span>Alert Logs</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cogs fa-stack-1x "></i></span>Settings</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Add New Module</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope-o fa-stack-1x "></i></span>Contact</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-info fa-stack-1x "></i></span>About USES</a>
                </li>
            </ul>
        </div>
    </div>
<script src="controller/sidebar_menu.js"></script>