<div id="wrapper">
	<ng-include src="'view/navheader.html'"></ng-include>
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <!-- Page Heading -->
			<div class="row">
	            <div class="col-lg-6">
					<center><div id="save-success" class="alert alert-success saveAlert">
						<a class="close" aria-label="close">&#160;&#160;&times;</a>
						<strong>Success!</strong> Settings saved.
					</div>
					<div id="save-failure" class="alert alert-danger saveAlert">
						<a class="close" aria-label="close">&#160;&#160;&times;</a>
						<strong>Error!</strong> Something went wrong!
					</div></center>
				</div>
			</div>
	        <h1 class="page-header">
	            Settings
	        </h1>
					
			<div class="row" style="margin-top:15px;">
	            <div class="col-lg-6">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h3 class="panel-title"><i class="fa fa-cogs fa-fw"></i> Module Settings </h3>
	                    </div>
	                    <div class="panel-body">
	                        <div class="table-responsive">
	                            <table class="table table-bordered table-hover table-striped">
	                                <thead>
	                                    <tr>
	                                        <th class="col-md-6">Module</th>
	                                        <th class="col-md-3">Current Value</th>
	                                        <th class="col-md-3">Threshold Value</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	<tr ng-repeat="module in modules">
	                                		<td><input ng-model="module.label" type="text" class="form-control" value="{{module.label}}"></td>
	                                		<td><input type="text" class="form-control" value="{{module.currentValue}}" disabled></td>
	                                		<td><input ng-model="module.threshold" type="number" class="form-control" value="{{module.threshold}}"></td>
	                                	</tr>
	                                </tbody>
	                            </table>
	                        </div>
	                        <div class="text-right">
								<button ng-click="pushButton()" style="float:left;" class="js-push-button btn btn-secondary btn btn-outline-primary" disabled>
									Enable Push Messages
								</button>
								<div class="js-curl-command"></div>
	                            <button ng-click="saveSettings()" type="button" class = "btn btn-secondary btn btn-outline-primary">Save</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
			
	    </div>
	    <!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->
</div>