<div id="wrapper">
	<ng-include src="'view/navheader.html'"></ng-include>
	<div id="page-wrapper" ng-controller="SettingsCtrl">
	    <div class="container-fluid">
	        <!-- Page Heading -->
			
			<div id="save-success" class="alert alert-success" style="left: 50%; margin-top: 15px; position:fixed; z-index:1; display:none;">
				<a class="close" aria-label="close">&#160;&#160;&times;</a>
				<strong>Success!</strong> Settings saved.
			</div>
			<div id="save-failure" class="alert alert-danger" style="left: 50%;margin-top: 15px; position:fixed; z-index:1; display:none;">
				<a class="close" aria-label="close">&#160;&#160;&times;</a>
				<strong>Error!</strong> Something went wrong!
			</div>
			
	        <h1 class="page-header">
	            Settings
	        </h1>
					
			<div class="row" style="margin-top:15px;">
	            <div class="col-lg-12">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h3 class="panel-title"><i class="fa fa-cogs fa-fw"></i> Module Settings </h3>
	                    </div>
	                    <div class="panel-body">
	                        <div class="table-responsive">
	                            <table class="table table-bordered table-hover table-striped">
	                                <thead>
	                                    <tr>
	                                        <th>Module</th>
	                                        <th>Current Value</th>
	                                        <th>Threshold Value</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	<tr ng-repeat="module in modules">
	                                		<td><input ng-model="module.label" type="text" class="form-control" value="{{module.label}}"></td>
	                                		<td><input type="text" class="form-control" value="{{module.currentValue}}" disabled></td>
	                                		<td><input ng-model="module.threshold" type="number" class="form-control" value="{{module.threshold}}"></td>
	                                	</tr>
	                                </tbody>
	                            </table>
	                        </div>
	                        <div class="text-right">
								<button ng-click="pushButton()" style="float:left;" class="js-push-button btn btn-secondary btn btn-outline-primary" disabled>
									Enable Push Messages
								</button>
								<button ng-click="pushNotificationTest()" style="float:left;" class="btn btn-secondary btn btn-outline-primary">
									Send a push to aaron
								</button>
								<div class="js-curl-command"></div>
	                            <button ng-click="saveSettings()" type="button" class = "btn btn-secondary btn btn-outline-primary">Save</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
			
	    </div>
	    <!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->
</div>